@model _33_Clien_brach_onWeb.Models.Client

@{
    ViewBag.Title = "Delete";
}

<h1 style="text-align:center;font-weight:bold;font-family:'Modern No. 20'">Are you sure you want to delete this?</h1>
<div>
    <h2 style="text-align:center;font-weight:bold;font-family:'Modern No. 20'">Delete</h2>

    <h4 style="text-align:center">Client</h4>
    <hr />
    <dl class="dl-horizontal" style="text-align:center">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.card_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.card_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.number_acc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.number_acc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_register)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_register)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div id="okBtn" class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Select")
        </div>
    }
</div>

<style>
    #okBtn {
        width: 300px; /* Ширина элемента в пикселах */
        padding: 10px; /* Поля вокруг текста */
        margin: auto; /* Выравниваем по центру */
    }
</style>
