@model IEnumerable<_33_Clien_brach_onWeb.Models.Client>

@{
    ViewBag.Title = "DeleteClient";
}

<h2 style="text-align:center;font-family:'Modern No. 20';font-weight:bold">Delete Clients</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.card_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.number_acc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_register)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.card_number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.number_acc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_register)
        </td>
        <td id="del">
            @Html.ActionLink("Delete", "Delete", new { id=item.id, @class ="delBr"})
        </td>
    </tr>
}

</table>


<style>
    .delBr {
        text-decoration: none;
        color: green;
    }

        .delBr:hover {
            text-decoration: none;
            color: black;
        }

    #del {
        border: 1px solid blue;
        border-radius: 13px;
        position: absolute;
        padding: 8px;
        /*margin: -50px 0 0 0;*/
    }

        #del:hover {
            border: 1px solid blue;
            border-radius: 13px;
            position: absolute;
            padding: 8px;
            /*margin: -50px 0 0 0;*/
            background-color: gold;
        }
</style>