@model PagedList.IPagedList<_33_Clien_brach_onWeb.Models.Branch>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Branches";
}


<h2 style="text-align:center;font-weight:bold">List of a Branches</h2>


<body style="background-color:whitesmoke">
    <p id="create">
        @Html.ActionLink("Create New", "Add_Branch", "Branches", null, new { @class = "creat" })
    </p>
    <table class="table">
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Post Code
            </th>
            <th>
                Address
            </th>
            <th>
                Phone nuber
            </th>
            <th>
                Support email
            </th>
            <th>
                Schedual
            </th>
            <th>
                Id bank
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr id="cl">
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.postcode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.phone_number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.suport_email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.schedual)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.id_bank)
                </td>
            </tr>
        }
    </table>
    <br />

    <p style="text-align:center; font-weight: bold; font-family: 'Modern No. 20'">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) from @Model.PageCount
    </p>
    <div style="width:auto;padding:10px;margin:auto">
        @Html.PagedListPager(Model, page => Url.Action("Branches", new { page }))
    </div>
</body>

<style>
    #cl {
        font-size: larger;
        font-weight: bold;
    }
    .creat {
        text-decoration: none;
        color: darkblue;
        font-weight: bold;
    }

        .creat:hover {
            text-decoration: none;
            color: darkblue;
            font-weight: bold;
        }

        #create {
            border: 3px solid darkblue;
            border-radius: 5px;
            position: absolute;
            padding: 14px;
            margin: -65px 0 0 0;
        }

            #create:hover {
                border: 3px solid darkblue;
                border-radius: 5px;
                position: absolute;
                padding: 14px;
                margin: -65px 0 0 0;
                background-color: gold;
            }
    </style>